<head>
  <link rel="stylesheet" href="style.css">
</head>
<% include ../partials/navbar %>

<body>

  <h1>F&V Awesomeness</h1>
  <p>Ever wish you could eat healthier, but don't know how to incorporate into your budget?
    With F&V, we take the budgeting out of eating healthy.

    


    <div class="hero hero--6"></div>

</body>