<% include ../partials/navbar %>
  <body>
    <div class="container">
        <div class="row justify-content-md-center">
      <h1>F&V Awesomeness</h1>
      <p>Ever wish you could eat healthier, but don't know how to incorporate into your budget?
        With F&V, we take the budgeting out of eating healthy.

        
      </p>
    </div>
      <div id="favArticles"></div>
      <div class="container card-group"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
  </body>

